doctype
html
    head
        title=title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/path/style/style.css")
        link(rel="icon", href="/path/img/cblossom.png")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poiret+One")
    body
        #root
        script(src="/dist/home.bundle.js")
